<!DOCTYPE html>
<html lang="en">
    {% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'new.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
        <div class="navbar">
                <div class="nav-left">
                    <img class="logo" src="{% static 'insta-logo.png' %}" alt="logo" width="120px">
                </div>
                <div class="nav-center">
                    <i class="fas fa-search"></i>
                    검색
                </div>
                <div class="nav-right">
                    <i class="far fa-compass size"></i>
                    <i class="far fa-heart size"></i>
                    <i class="far fa-user size"></i>
                </div>
            </div>
           
    
        <div class="newpost"><form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit"/>
        </div>
    </form>    
</body>
</html>